$dark-blue: hsl(233, 26%, 24%);
$lime-green: hsl(136, 65%, 51%);
$bright-cyan: hsl(192, 70%, 51%);
$grayish-blue: hsl(233, 8%, 62%);
$light-grayish-blue: hsl(220, 16%, 96%);
$very-light-gray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);
$main-font: 'Public Sans', sans-serif;
$font-weight: (
    "thin" : 300,
    "regular" : 400,
    "bold" : 700
);
$font-size: (
    "paragraph" : 14px,
    "paragraph-lg" : 16px, 
    "header" : 30px,
    "header-lg": 50px,
);
$mobile : 375px;
$desktop : 1440px;
$mobile-container-width: 90%;
$desktop-container-width: 80%;