@import './reset';
@import './variables';

*{
    box-sizing: border-box;
}


@function weight ($weight-name){
    @return map-get($font-weight, $weight-name)
};

@function size ($size-type){
    @return map-get($font-size, $size-type)
};

@mixin desktop {
    @media screen and (min-width: $desktop) {
        @content;
    }
}

@mixin font {
    font-family: $main-font;
    h1{
        color: $dark-blue;
        font-size: size(headerOne);
        font-weight: weight(regular);
        @include desktop{
            font-size: size(headerOneLg);
        }
    }
    h2{
        color: $dark-blue;
        font-size: size(headerTwo);
        @include desktop{
            font-size: size(headerTwoLg);
        }
    }
    h3{
        color: $dark-blue;
        font-size: size(headerThree);
        @include desktop{
            font-size: size(headerThreeLg);
        }
    }
    p{
        font-size: size(paragraph);
        font-weight: weight(thin);
        color: $grayish-blue;
        @include desktop{
            font-size: size(paragraphLg);
        }
    }
}

@mixin  columnToRow {
    
}

@mixin ctaButton {
    font-size: size(paragraph);
    background: rgb(49,211,92);
    background: linear-gradient(144deg, rgba(49,211,92,1) 0%, rgba(43,183,208,1) 100%);
    padding: 0.8em 1.5em;
    border-radius: 2em;
    color: $white;
}

@mixin flexBeetween ($direction, $gap) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: $direction;
    gap: $gap;
}

@mixin mainGrid($gap){
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    align-content: space-around;
    gap: $gap;
    @include desktop{
        grid-template-columns: repeat(4, 1fr);
    }
}

@mixin borderRadius ($tl, $tr, $bl, $br) {
    border-top-left-radius: $tl;
    border-top-right-radius: $tr;
    border-bottom-left-radius: $bl;
    border-bottom-right-radius: $br;
}

@mixin mobileNavToggle{
    display: block;
    cursor: pointer;
    width: 2rem;
    aspect-ratio: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}

.container{
    width: $mobile-container-width;
    margin: auto;
    @include desktop{
        width: $desktop-container-width;
        margin: auto;
    }
}


.navigationBar{
    @include flexBeetween(row, 0);
    width: 100%;
    height: 50px;
    padding: 0 calc(100% - 90%);
    position: fixed;
    z-index: 99;
    background-color: $white;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
    font-family: $main-font;
    font-weight: weight(regular);
    color: $dark-blue;
    @include desktop{
        height: 70px;
    }

    .companyLogo{
        cursor: pointer;
    }

    .navigationLink{
        @include flexBeetween(column, 1em);
        padding: 2em 1em;
        border-radius: 0.2em;
        position: absolute;
        left: 100%;
        color: $grayish-blue;
        @include desktop{
            position: unset;
            @include flexBeetween(row, 2em);
        }
        &[data-visible="true"]{
            top: calc(50px + 5vw);
            left: 5vw;
            right: 5vw;
            background-color: $white;
        }
    }

    .mainButton{
        @include ctaButton;
        display: none;
        @include desktop{
            display: block;
        }
    }
    
    .mobileNavToggle{
        @include mobileNavToggle;
        background-image: url(/images/icon-hamburger.svg);
        @include desktop{
            display: none;
        }
        &[aria-expanded="true"]{
            @include mobileNavToggle;
            background-image: url(/images/icon-close.svg);
            @include desktop{
                display: none;
            }
        }
    }
}


.hero{
    margin-bottom: 7.5em;
    font-family: $main-font;
    text-align: center;
    overflow-x: hidden;
    @include font;
    @include desktop{
        @include flexBeetween(row-reverse, 5em);
        text-align: start;
        background-image: url(/images/bg-intro-desktop.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 700px -170px;
        margin-bottom: 0em;
    }

    .heroImage{
        width: 100%;
        background-image: url(/images/bg-intro-mobile.svg);
        background-size: cover;
        background-repeat: no-repeat;
        @include desktop{
            background-image: none;
            width: 60%;
            position: relative;
            right: -120px;
        }
    }

    .mainImage{
        width: 100%;
    }

    .Intro{
        width: 100%;
        padding: 1em;
        @include flexBeetween(column, 1.2em);
        @include desktop{
            margin: 0 0 0 calc(100% - 90%);
            align-items: flex-start;
            width: 40%;
        }

        .heroButton{
            @include ctaButton;
            @include desktop{
                font-size: size(paragraphLg);
            }
        }
    }
    
}

.whyChooseUs{
    margin: 7.5em auto 7.5em auto;
    text-align: center;
    @include font;
    @include mainGrid(3em);
    @include desktop{
        text-align: start;
        margin-top: 0em;
    }

    .gridItem{
        @include flexBeetween(column, 1em);
        justify-content: flex-start;
        @include desktop{
            align-items: flex-start;
        }

        &:first-child{
            margin-bottom: 1em;
            @include desktop{
                grid-column-start: 1;
                grid-column-end: 5; 
            }

            p{
                @include desktop{
                    width: 60ch;
                }
            }
        }
    }
}


.articlePost{
    margin: 7.5em auto 7.5em auto;
    @include mainGrid(2em);
    @include font;

    .postItem{
        background-color: $white;
        border-bottom: 1.5px solid $light-grayish-blue;
        @include borderRadius(0, 0, 0.35em, 0.35em);
        
        &:first-child{
            border-bottom: unset;
            text-align: center;
            @include desktop{
                grid-column-start: 1;
                grid-column-end: 5; 
                text-align: start;
            }
        }

        .postImage{
            width: 100%;
            cursor: pointer;
            
            img{
                width: 100%;
                @include borderRadius(0.35em, 0.35em, 0, 0);
                @include desktop{
                    height: 225px;
                }
            }
        }

        .postContent{
            border-right: 1.5px solid $light-grayish-blue;
            border-left: 1.5px solid $light-grayish-blue;
            padding: 1em;
            @include flexBeetween(column, 0.5em);
            align-items: flex-start;

            .author{
                font-size: 12px;
            }
        }
    }
    
}


.footer{
    background-color: $dark-blue;
    padding: 2em 1em;
    @include font;
    @include flexBeetween(column, 2em);
    @include desktop{
        @include flexBeetween(row, 1em);
        padding: 2em calc(100% - 90%) 2em calc(100% - 90%);
    }

    .importantLinks{
        @include flexBeetween(column, 2em);
        @include desktop{
            @include flexBeetween(row, 10em);
        }

        .socialLinks{
            color: $white;
            text-align: center;
            @include flexBeetween(column, 2em);
            @include desktop{
                align-items: flex-start;
            }

            .social{
                @include flexBeetween(row, 1em);
                justify-content: center;
                @include desktop{
                    justify-content: flex-start;
                }
            }
        }

        .menuLinks{
            color: $white;
            @include flexBeetween(column, 1em);
            @include desktop{
                @include flexBeetween(row, 5em);
            }

            .internal, .external{
                @include flexBeetween(column, 1em);
                @include desktop{
                    align-items: flex-start;
                }
            }
        }   
    }

    .callToAct{
        @include flexBeetween(column, 1em);
        @include desktop{
            align-items: flex-end;
            justify-content: center;
        }

        button{
            @include ctaButton;
        }
    }
}    